# Ignore arquivos temporários
*~
*.swp
*.bak
*.tmp

# Arquivos específicos locais
*.log
.DS_Store

# Arquivos criados por stow (se houver falhas)
.config/
.cache/
.local/

# Segredos (ajuste se necessário)
*.env
*.secret
