# Ignore arquivos temporários
*~
*.swp
*.bak
*.tmp

# Arquivos específicos locais
*.log
.DS_Store

# Arquivos criados por stow (se houver falhas)
.config/
.cache/
.local/

# Segredos (ajuste se necessário)
*.env
*.secret

# Ignorar arquivos de cache e temporários
Code/Cache/
Code/Crashpad/
Code/Local Storage/
Code/Network Persistent State
Code/TransportSecurity
*.log
*.tmp
