[Configuration]
MiscVolumeManagement=true
HiddenMiniMode=false
LastShowHidden=true
LastSidePaneSelection=shortcuts
LastWindowMaximized=true
LastWindowHeight=720
LastWindowWidth=1280
LastWindowX=100
LastWindowY=100
